body {
	background-color: #c0392b;
}

.main-nav {
	padding: 20px 0;
	background-color: #c0392b;
}

h4.navbar-brand {
	padding: 0;
	font: 40px georgia, serif;
	color: #ecf0f1;
}

.nav-pills {
	padding-top: 5px;
}