body {
	background-color: #c0392b;
}

.main-nav {
	padding: 20px 0;
	background-color: #c0392b;
}

h4.navbar-brand {
	padding: 0;
	font: 40px georgia, serif;
	color: #ecf0f1;
}

.nav-pills {
	padding-top: 5px;
}

.modal-content {
	text-align: center;
}

.modal-content .modal-title {
	font-size: 25px
}

.modal-body p {
	font-size: 20px
}

.modal-body p span {
	font-size: 100px;
    width: 100%;
    display: inline-block;
}